input {box-sizing:border-box;}
input:active, input:focus{ outline:none; -moz-outline:none;} 
input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner{ border:none;}

/* main style */
.inputShowPwd {
	position:relative;
	display: inline-block;
}
.inputShowPwd > input {
	padding-right: 36px !important;
	padding-right: 36px;
	padding-left: 10px;
}
.inputShowPwd > .showEle {
	display: none;
	position: absolute;
	height: 24px;
	width: 24px;
	top: 50%;
	margin-top: -12px;
	right: 20px;
	background:url(../image/pwd.png) 50% 50% no-repeat;
	background-size: 24px 24px;
	z-index: 1;
	cursor: pointer;
}
.inputShowPwd > input[type="text"] {
	display: none;
}
