body{
    background: #F1F3FA url("../image/wavegrid.png");
    font-family: "roboto";
    font-size:16px;
    background-attachment: fixed;
}
img{
    max-height:100%;
    max-width:100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "cabin";
    margin:0;
}
#mobile{
    display:none !important;
}
.menu-mobile{
    display: none;
}
#main h1{
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    color: #199948;
}
h2{
    font-size: 18px;
    display:inline-block;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
h4{
    display:inline-block;
}
a {
    color: #000;
}
.row{
    clear:both;
}
.container{
    background:#FFF;
    box-shadow: 0 0 4px #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:10px 15px;
}
.pagination>li>a, .pagination>li>span{
    border:none;
}
a:hover{
    text-decoration: none;
}
.mp{
    margin:0;
    padding:0;
}
.ml_12{
    margin-left:12px;
}
.mr_12{
    margin-right:12px;
}
.mt_12{
    margin-top:12px;
}
.mb_12{
    margin-bottom:12px;
}
.pl_12{
    padding-left:12px;
}
.pr_12{
    padding-right:12px;
}
.pt_12{
    padding-top:12px;
}
.pb_12{
    padding-bottom:12px;
}
.p_24 {
    padding: 0 24px;
}
#main .fa{
    margin-right:5px;
}
#content .nav li a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar .container{
    background: transparent;
    box-shadow: none;
}
.navbar-brand {
    margin: 0;
    padding: 0;
    height: 52px;
    width: 150px;
    margin-top: 11px;
    text-indent: -9999px;
}
nav.navbar .navbar-nav {
    background: transparent;
    z-index: 999;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-right: 0;
}
.navbar-nav li {
    margin: 0 5px;
    position: relative;
}
.navbar-default .navbar-nav li  a{
    color: #000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 19px;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    overflow: hidden;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: "cabin";
}
.navbar-nav li li a {
    display: block;
    clear: both;
    white-space: nowrap;
    text-transform: none;
    border-bottom: 1px solid #eeeeee;
    min-width: 130px;
}
.navbar-default .navbar-nav  li  a:hover,.navbar-default .navbar-nav.navbar-right li a{
    background: #199948;
    color: #fff;
    transition: all 0.2s ease;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: #199948;
    color: #fff;
    font-weight: bold;
}
.navbar-nav li ul{
    display: none;
    position: absolute;
    margin-top: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.navbar-nav li ul li ul{
    right: -185px;
    padding-left: 0;
    top: 0;
    background:#fff;
}
.navbar-nav>li>ul>li{
    margin:0;
    display: inline-block;
    float: left;
    width: 100%;
    background: #FFF;
    border-radius: 4px;
}
.navbar-nav ul li:hover ul{
    display: block;
}
.navbar-nav>li:hover>ul{
    display:block;
}
.box-head {
    height: auto;
    text-transform: uppercase;
    position: relative;
    margin: 10px;
}
.box-head h3{
    font-weight: 700;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding:10px 0;
}
.box-body {
    display: inline-block;
    width: 100%;
    padding: 5px;
    overflow: hidden;
}
.box{
    display:block;
    overflow: hidden;
    height:auto;
    background: #fff;
    margin-bottom: 15px;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0px 1px #ccc;
    -moz-box-shadow: 0 0px 1px #ccc;
    box-shadow: 0 0px 1px #ccc;
}
.btn {
    background: #199948;
    font-family: "cabin";
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;

}
.btn-green {
    background-color: #199948;
    color: white;
}
.box-search-job .btn {
    border-radius: 3px;
    padding: 8px 12px;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    padding: 10px 15px;
    font-size: 16px;
    height: auto;
    width: 100%;
}
#wrapper{
    margin: 70px 0 20px 0;
    padding: 20px 0 0 0;
}
#search{
    margin-top:20px;
}
.box-search-job {
    margin-top: 10px;
    padding: 25px 0;
}
.box-search-job .form-group {
    margin-bottom: 10px;
}
.box-search-job .form-control {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 14px;
}
.box-search-job .select2-container--default .select2-selection--single {
    font-size: 14px;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 40px!important;
    padding-left: 15px!important;
    text-align: left;
}
.select2-container .select2-selection--single {
    height: 40px!important;
    border-radius:0 !important;
}
.select2-selection__arrow {
    height: 40px!important;
}
#ascrail2000{
    opacity: 1 !Important;
}
.box-search-job .btn {
    border-radius: 3px;
    padding: 8px 12px;
}
#main-top .desc{
    text-align: justify;
}
#category{
    margin-top:20px;
    font-family: "roboto";
}
.category a,.category a:hover{
    color:#555;
}
.form-category{
    padding:10px 20px
}
.form-category .row{
    margin:0;
}
.category .category-single {
    background: #fff;
    border: 1px #e5e5e5 solid;
    display: block;
    text-decoration: none;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 20px 0 20px 0;
    position: relative;
}
.category .category-single:before {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(38,174,97,0.7);
    -moz-box-shadow: 0px 0px 0px 1px rgba(38,174,97,0.7);
    box-shadow: 0px 0px 0px 1px rgba(38,174,97,0.7);
    top: 0;
    left: 0;
    z-index: 101;
    opacity: 0;
}
.category .category-single:hover:before{
    opacity: 1;
}
.category .category-single:hover{
    border: 1px #199948 solid !important;
    background-color: rgba(38,174,97,0.05);
    transition: all 0.15s ease-in-out;
    /*overflow: visible;*/
    /*opacity: 1;*/
    z-index: 200;
}

.category .category-single img {
    display: block;
    margin: 0 auto;
    max-height: inherit;
    max-width: 100px
}
.category .more,.category .more:hover{
    color:#FFF;
    margin:10px 0;
    font-family: "cabin";
}
.salesLogoImage{
    padding: 0 0 10px 0;
    width: 15%;
}
.category-name{
    margin: 0;
}
.category-job{
    margin: 0;
}

#main{
    margin:20px 0;
}
#main .box-head{
}
#content{
    padding:0px 15px;
    margin-top: 20px;
}
#content .nav-tabs{
    border:none;
}
#content .box-head{
    text-align: left;
}

#content .paging .paging-title,#content .paging-meta marquee{
    line-height: 40px;
}
.form-list-job .paging-meta{
    padding: 0 0 10px 20px;
}
#content .box-body .list-jobs{
    border: 1px solid #ddd;
}
#content ul.nav li a {
    font-weight: bold;
    text-transform: uppercase;
    background: #dfdfdf;
    border-radius: 4px;
    margin-right: 10px;
    color:#555;
    font-family: "cabin";
    font-size: 14px;
}
#content ul.nav li.active a{
    background-color: #199948 !important;
    color: #fff;
}
#content .result{
    border:1px solid #ddd;
    margin: 5px 0px;
    padding: 0;
    overflow: hidden;
    position: relative;
    outline: none;
    height:830px;
}

#content .result .tab-pane{
    display:none;
}
#content .result .tab-pane.active{
    display: block;
}
.result .list-item>.row{
    margin:0;
}
.list-item {
    display: inline-block;
    width: 100%;
    margin: 10px 0 3px 0;
    border-bottom: 1px solid #ddd;
    padding: 6px 3px;
}
.list-item:last-child{
    border-bottom:0;
}
.list-item .list-item-logo{
    text-align: center;
    height: 50px;
}
.list-item .list-item-logo img{
    max-height:50px;
    width:auto;
}
#content .list-item .list-item-content .row{
    margin:0;
}
.company-job{
    position:relative;
}
.company-job span {
    position: relative;
    margin-left: 5px;
    font-weight: normal;
    font-size: 11px;
    top: -5px;
    display: inline-block;
}
.company-job{
    display: block;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.company-job a{
    color: #00866a;
    font-family: "cabin";
    word-spacing: 5px;
}
.page{
    width:100%;
    display: inline-flex;
}
.pagination{
    float:none;
    margin:20px auto;
}
#sidebar{
    padding: 0 15px;
    margin-top: 20px;
}
#sidebar .form-list-right{
    margin-bottom: 20px;

}
#sidebar .form-list-right .box-body{
    border:1px solid #ddd;
}
.job-one {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin-top: 15px;
}
.job-one:first-child{
    margin-top:3px;
}
#sidebar .box-head {
    background: #199948;
    margin-top: 0;
    margin: 0;
    text-align: center;
    height: auto;
    display: inline-block;
    width: 100%;
}

#sidebar .box-head h3 {
    color: #fff;
}
.job-one .box-body {
    padding: 10px 20px;
}
.job-one .company-job{
    display: block;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    float: left;
    margin-top:10px;
    margin-bottom:15px;
    position:relative;
}
.job-one .company-job label {
    margin-left: 5px;
    font-weight: normal;
    font-size: 11px;
    width: 34px;
    display: inline-block;
    position:absolute;
}
.job-one .box-body h5 {
    font-size: 16px;
    color: #000;
}
.job-one .box-body h5 .label{
    font-size: 11px;
}
.job-one .box-body p, .job-one .box-body p a {
    color: #808080;
    margin-bottom: 20px;
}
.block-50 {
    display: inline-block;
    width: 50%;
    float: left;
    color: #808080;
}
.job-one .box-body .more {
    padding: 10px 0;
    width: 48%;
    display: inline-block;
    text-align: center;
    background: #dfdfdf;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    margin: 0 25%;
    font-family: "cabin";
}
.job-one .box-body .more:hover{
    background: #65ca8a;
}
#post-new{
    margin-top: 20px;
    margin-bottom: 20px;
}
#post-new .btn.focus, .btn:focus, .btn:hover {
    color: #FFF;
    text-decoration: none;
    opacity: 0.8;
}

footer{
    background-color: #2C3E50;
    clear: both;
    color: #fff;
    padding:40px 0;

}
footer .container{
    background-color: #2C3E50;
    box-shadow: none;
}
footer a {
    color: #fff;
}
.bx-wrapper .bx-viewport{
    border:0 !important;
}
.nivoSlider .nivo-directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../image/arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.nivoSlider:hover .nivo-directionNav a {
    opacity: 1;
}
.nivoSlider a.nivo-nextNav {
    background-position: -31px 0;
    right: 15px;
}
.theme-default a.nivo-prevNav {
    left: 15px;
}
.list-item-job{
    margin-left:0;
    margin-right:0;
    margin-bottom:5px;
}
.list-item-content-job{
    line-height: 28px;
}
.list-item-content-job a{
    font-size: 16px;
}
#post-cv{
    width:100%;
    display:inline-block;
}
#post-cv .box-body{
    border: 1px solid #F1F1F1;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}
#post-cv .row{
    margin:0;
    width:100%;
}
.job-top .box-body{
    padding:10px !important;
}
.job-top h3{
    font-weight:bold;
}
.job-top .mp_12{
    padding-bottom:5px;
}
.job-description .item-job {
    border-bottom: 1px solid #eeeeee;
    padding: 11px 0 11px;
}
.job-description .item-job:last-child{
    border:0;
}
.job-description .item-job .col-md-3{
    border-left:5px solid #199948;
}
.job-description .item-job-title{
    line-height: 40px;
    margin: 0px;
    font-weight:bold;
    text-transform: uppercase;
}
.job-footer .col-md-12{
    padding: 0 24px;
}
.job-footer .item-contact{
    border-bottom: 1px solid #eeeeee;
    padding: 11px 0 11px;
}
.job-footer .item-contact:last-child{
    border-bottom:none;
}

.job-footer .item-contact-title{
    line-height: 40px;
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
}
.job-button {
    display: inline-block;
    float: right;
}
.job-button .box-body{
    border:0 !important;
}
.job-button a {
    padding: 10px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #199948;
    color: #fff;
    position:relative;
}
.job-footer .contact{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    background-color: #199948;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.job-footer .contact:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: -30px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 30px solid #199948;
}
.check-job {
    width: 20px;
    position: relative;
}

.check-job input[type=checkbox] {
    visibility: hidden;
}
.check-job label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.check-job input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.check-job label:after {
    content: '';
    width: 12px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}
.page .col-xs-2{
    line-height: 77px;
    height: 77px;
    padding-right: 0;
    padding-top: 20px;
}
.page .col-xs-2 .btn{
    float: right;
}
#register .block-login-title span {
    font-size: 18px;
    font-weight: bold;
}
.post-new .post h2{
    margin:5px 0;
}
.post-new ul li{
    overflow: hidden;
}
.post-new li .post{
    border-bottom:1px solid #ddd;
    display:inline-block;
    padding-bottom:10px;
    width:100%;
}
.post-new li .post-image{
    padding:0;
    max-width: 70px;
}
.post-new li .post-title{
    padding-right:0;
}
.post-new ul li .post-title span{
    color:#aaa;
    font-size:12px;
}
.post-new ul li h2{
    letter-spacing: 0;
    font-size: 16px;
    line-height: 1.4em;
    margin:0;
    margin-bottom:5px;
}
.post-new ul li:first-child .post{
    padding-bottom:0;
    position: relative;
}
.post-new ul li:first-child .post-image{
    width:100%;
    height:340px;
    max-width: 100%;
}
.post-new ul li:first-child .post-image img{
    width:100%;
    height:auto;
}
.post-new ul li:first-child .post-title{
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    padding: 12px;
    position: absolute;
    width: 100%;
}
.post-new ul li:first-child .post-title h2 a{
    color:#fff;
}
.post-new ul li:first-child .post-title span{
    color:#FFF;
    font-size:12px;
}
.post-new li img {
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
    max-width:100%;
}
.post-feature{
    width:100%;
    display:inline-block;
}
.post-feature .post-item{
    display:inline-block;
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
}
.post-item .post-meta {
    margin:10px;
}
.post-item .post-image{
    padding-left:0;
}
#detail .box-body{
    padding:10px;
}
#detail .detail-meta{
    font-weight:bold;
    margin:5px 0 10px
}
#detail .detail{
    overflow: hidden;
}
#blog-post h2 a{
    color: #00866a;
    font-weight: bold;
    font-size: 20px;
}
#register{
    padding:20px;
}
#register .block-login{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
#register .block-login:last-child{
    border:0;
}
#register .block-login .block-login-title span{
    font-weight:bold;
    font-size: 21px;
}
#register .block-login label{
    font-size: 16px;
}
#register .block-login .ttsd{
    color:#00866a;
    text-decoration: underline;
}
#page-detail h1{
    text-align: center;
}
#popup-register .box-body{
    height:200px;
    padding:30px 0 20px 0;
}
#popup-register .register,#popup-login .login{
    background:#FFF;
    margin-top:130px;
}
#popup-register .register .fade{
    display: none;
}
#popup-register .register .fade.active{
    display:block;
}
#popup-register .btn-facebook{
    background:#4361A1;
}
#popup-register .btn-google{
    background:#d14836;
}
#popup-register .container,#popup-login .container{
    background:inherit;
    box-shadow: 0 0 0;
    max-width: 704px;
}
#popup-register .nav-pills li{
    border:1px solid #ddd;
}
#popup-register .nav-pills li.active{
    border-radius:0 ;
    border:1px solid #199948;
}
#popup-register .nav-pills li.active a{
    background:#199948;
    border-radius:0 ;
}
.mCSB_dragger_bar{
    background-color: rgb(25, 153, 72) !important;
}
.back-to-top{
    background-image: url(../image/arrow-up.svg);
    background-repeat: no-repeat;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 50px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}