@-moz-document url-prefix(){
    .navbar-default .navbar-nav li a{
        padding: 10px 8px;
    }
    @media screen and (min-width: 0px) and (max-width: 767px){
        .navbar-nav li ul a::before {
            top: 37% !important;
            left: 2px !important;
        }

    }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .navbar-default .navbar-nav li a {
        padding: 10px 5px;
    }
    .navbar-brand{
        width:110px;
    }
}
@media screen and (min-width: 0) and (max-width: 767px) {
    #wrapper{
        margin-top:0;
        padding-top:70px;
    }
    #register{
        padding:0px
    }
    .nav-tabs>li{
        margin-right:10px;
    }
    .form-horizontal .form-group{
        margin-right: 0;
        margin-left: 0;
    }
    #popup-register,#popup-login{
        display: none;
    }
    .menu-mobile{
        display: inline-block;
        width:100%;
        background-color: #f8f8f8;
        position: fixed;
        z-index: 999;
        top: 0;
        border-bottom: 1px solid #ddd;
    }
    #menu-bottom{
        display: block;
        padding: 10px 5px 5px;
        background-color: #ddd;
        float: left;
        border-radius: 3px;
        margin: 10px;
    }
    #menu-bottom span{
        height: 2px;
        width: 35px;
        display: block;
        background: #199948;
        margin-bottom: 6px;
    }
    .menu-mobile  .logo{
        width: 50%;
        float: right;
        height: 59px;
        padding-right: 10px;
        line-height: 59px;
    }
    .mm-menu .mm-navbar-top-1{
        height:60px;
        background-color: #199948;
    }
    .mm-menu .mm-navbar-top-1 a{
        padding: 20px;
        color:#fff;
    }
    .mm-menu .mm-navbar-top-1 a:first-child{
        border-right:1px solid #fff;
    }
    .mm-menu .mm-navbar-top-1 a i{
        margin-right:10px;
        font-size: 20px;
    }
    .mm-menu .mm-navbar-top-2{
        top: 60px;
        height:50px;
    }
    .mm-menu .mm-navbar-top-2 a{
        padding:0
    }
    .mm-menu .mm-panels{
        top: 110px;
    }
    .mm-menu .mm-panels li{
        margin:5px 0;;
    }
    .mm-menu .mm-panels .mm-listview>li a{
        padding: 15px;
        font-size: 14px;
        font-weight: bold;
        padding-left: 30px;
    }
    #desktop{
        display:none;
    }
    #search {
        margin-top: 0px;
    }
    #content ul.nav li a{
        margin: 0;
        font-size: 12px;
        padding-right: 2px;
        padding-left: 2px;

    }
    .box-search-job{
        padding:0;
    }
    .box-search-job .btn{
        width:100%;
    }
    .category{
        padding:0;
    }
    .list-item{
        margin: 0;
        padding: 0;
    }
    .salesLogoImage{
        width: 40%;
    }
    #category .category-single .category-name{
        height:70px;
        padding-top:3px;
    }
    #post-new .post{
        padding-bottom:10px;
    }
    .fb-page.fb_iframe_widget.fb_iframe_widget_fluid{
        max-width:100%;
        max-height:100%;
        overflow: hidden;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .mm-menu .mm-navbar-top-1 a {
        padding: 16px;
        font-size: 13px;
    }
    .mm-menu .mm-navbar-top-1 a i{
        padding-right:5px;
    }
}